/* Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT */

.header-container {
  background-color: #003366;
  height: 50px;

  .logo-container {
    width: 170px;
    height: 25px;
    margin-top: 11px;
  }
}
