<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-8 docusign-signature-model">
            <div class="col-12 header" [ngSwitch]="status" [ngClass]="{'green':status==='Completed'}">
                <ng-container *ngSwitchCase="'Pending'">Preparing CLA...</ng-container>
                <ng-container *ngSwitchCase="'Completed'">CLA Ready For Signature</ng-container>
                <ng-container *ngSwitchCase="'Failed'">Failed To Load Signature</ng-container>
                <ng-container *ngSwitchCase="'Incomplete'">CLA Document Not Ready</ng-container>
            </div>

            <div class="col-12 body">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="row justify-content-end">
                            <i *ngIf="status !=='Completed'" class="col-auto fas fa-file file"></i>
                            <i *ngIf="status ==='Completed'" class="col-auto fas fa-file-alt file green"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="col-12 checkItem">
                            <div class="row align-items-center">
                                <div class="col-auto pr-0">
                                    <i class="fas fa-check-circle checkbox green"
                                        [ngClass]="{'green':status==='Completed'}"></i>
                                </div>
                                <label *ngIf="status === 'Completed'" class="col pr-0">Document Ready</label>
                                <label *ngIf="status !== 'Completed'" class="col pr-0">Generating Document</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center" style="margin: 30px 0 30px 0;">
                    <div class="col-12">
                      <app-consent (termAccepted)="hasTermAccepted = $event"></app-consent>
                    </div>
                </div>

                <div class="row buttons justify-content-center align-items-center">
                    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
                        <button tabindex="-1" type="button" class="btn" (click)="onClickBack()">
                            GO BACK
                        </button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
                        <button tabindex="-1" type="button" [disabled]="status!=='Completed' || !hasTermAccepted"
                            [ngClass]="{'blue':status==='Completed' && hasTermAccepted}" class="btn gray" (click)="onClickSignCLA()">
                            SIGN CLA</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #successModal let-modal>
    <div class="model">
        <div class="modal-body">
            <div class="row justify-content-center success-dialog">
                <div class="col-auto">
                    <i class="fas fa-check-circle logo green"></i>
                </div>
                <div class="col-12 title">{{title}}</div>
                <p class="col-11 success-message" [innerHTML]="message"></p>
                <div class="col-4">
                    <button tabindex="-1" type="button" class="success-btn" (click)="onClickModalSuccessBtn()">
                        SIGN CLA
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
