<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<div class="dialog">
    <div class="row justify-content-center">
        <div class="col-auto title">Are you authorized to be a CLA Manager for your organization?</div>
        <div class="col-11 message">A CLA Manager is the person who manages the whitelist of approved
            contributors to this project for your company.</div>
        <div class="col-11 message">If not sure please select "No"</div>
    </div>
    <div class="col-12 buttons">
        <div class="row justify-content-center align-items-center">
            <div class="col-5">
                <button type="button" class="btn" (click)="onClickNoBtn()">No</button>
            </div>
            <div class="col-5">
                <button type="button" class="btn" (click)="onClickYesBtn()">Yes</button>
            </div>
        </div>
    </div>
</div>
