<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto pr-0 icon mt-20">
            <i *ngIf="!hasCLAManagerDesignee" class="fas fa-spinner"></i>
            <i *ngIf="hasCLAManagerDesignee" class="fas fa-check-circle green"></i>
        </div>
        <div *ngIf="!hasCLAManagerDesignee" class="col-10 mt-20 message">
            Please wait while we configure the initial CLA Manager settings for this CLA.
        </div>
        <div *ngIf="hasCLAManagerDesignee" class="col-10 mt-20 message">
            When this CLA is signed, you will be the initial CLA Manager. Please click below to proceed.
        </div>
    </div>

    <div class="row justify-content-center mt-20">
        <div class="col-5">
            <button tabindex="-1" type="button" class="btn" [ngClass]="{'active':hasCLAManagerDesignee}"
                (click)="onClickProceedBtn()">
                Procced
            </button>
        </div>
    </div>
</div>

<ng-template #WarningModal let-modal>
    <div class="model">
        <div class="modal-body">
            <div class="row justify-content-center success-dialog">
                <div class="col-auto">
                    <i *ngIf="!hasError" class="fas fa-exclamation-triangle logo orange"></i>
                    <i *ngIf="hasError" class="fas fa-exclamation-circle logo red"></i>
                </div>
                <div class="col-12 title">{{title}}</div>
                <p class="col-11 success-message">{{message}}</p>
                <div class="col-4">
                    <button tabindex="-1" type="button" class="success-btn" (click)="onClickProccedModalBtn()">
                        {{!hasError?'Procced':'Go Back'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>