<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<app-project-title [projectId]="projectId" [userId]="userId"></app-project-title>

<div class="col-12 corporate-dashboard">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-8 select-company-model">
                <div class="col-12 header">
                    Request Authorization to Contribute
                    <div class="sub-header">
                        A CLA Manager from your company must authorize you to contribute to this project
                    </div>
                </div>

                <div class="col-12 body">

                    <div class="row justify-content-center align-items-center">
                        <div class="col-8">
                            <table>
                                <tr class="header">
                                    <th class="left-border">CLA Manager(s)</th>
                                    <th class="right-border">Action</th>
                                </tr>
                                <tr class="table-border" *ngFor="let manager of mangers;let i=index;">
                                    <td>{{manager}}</td>
                                    <td>
                                        <span class="request"
                                            (click)="onClickRequestAuthorization(successModal)">Request
                                            Authorization</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-12 buttons">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                <button type="button" class="btn" (click)="onClickBack()">
                                    Go Back
                                </button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                <button type="button" class="btn active" (click)="onClickExitEastCLA()">
                                    Exit EasyCLA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #successModal let-modal>
    <div class="model">
        <div class="modal-body">
            <div class="row justify-content-center success-dialog">
                <div class="col-auto">
                    <i *ngIf="!hasError" class="fas fa-check-circle logo green"></i>
                    <i *ngIf="hasError" class="fas fa-exclamation-circle logo red"></i>
                </div>
                <div class="col-12 title">{{title}}</div>
                <p class="col-11 success-message">{{message}}</p>
                <div class="col-4">
                    <button type="button" class="success-btn" (click)="onClickExitEastCLA()">
                        Exit EasyCLA
                    </button>
                </div>
            </div>

        </div>
    </div>
</ng-template>
