<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<app-project-title></app-project-title>

<div class="col-12 corporate-dashboard">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-8 select-company-model">
                <div class="col-12 header">
                    Request Authorization to Contribute
                    <div class="sub-header">
                        A CLA Manager from your organization must authorize you to contribute to this project
                    </div>
                </div>

                <div class="col-12 body">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-8 cla-managers-container">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-12 header">CLA Manager(s) for your Organization
                                </div>
                                <div *ngIf="managers" class="col-12">
                                    <div *ngIf="!managers.list" class="col-12 error">{{claManagerError}}</div>
                                    <div *ngIf="managers.list" class="col-12 manager-list">
                                        <div class="item">
                                            <app-checkbox [checked]="hasSelectAll" text="Select All"
                                                (checkboxEmitter)="onClickSelectAll($event)">
                                            </app-checkbox>
                                        </div>
                                        <div class="separator"></div>
                                        <div class="scrollable">
                                            <div *ngFor="let manager of managers.list" class="item">
                                                <app-checkbox [checked]="manager.hasChecked" [text]="manager.name"
                                                    (checkboxEmitter)="onClickCheckbox($event,manager)">
                                                </app-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 buttons">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto">
                                <button tabindex="-1" type="button" class="btn active"
                                    (click)="onClickRequestAuthorization(successModal)">
                                    Request Authorization
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 buttons">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                <button tabindex="-1" type="button" class="btn" (click)="onClickBack()">
                                    Go Back
                                </button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                <button tabindex="-1" type="button" class="btn" (click)="exitEasyCLA()">
                                    Exit EasyCLA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #successModal let-modal>
    <div class="model">
        <div class="modal-body">
            <div class="row justify-content-center success-dialog">
                <div class="col-auto">
                    <i *ngIf="!hasError" class="fas fa-check-circle logo green"></i>
                    <i *ngIf="hasError" class="fas fa-exclamation-circle logo red"></i>
                </div>
                <div class="col-12 title">{{title}}</div>
                <p class="col-11 success-message" [innerHTML]="message"></p>
                <div *ngIf="hasError" class="col-4">
                    <button tabindex="-1" type="button" class="success-btn go-back" (click)="goback()">
                        Go Back
                    </button>
                </div>
                <div class="col-4">
                    <button tabindex="-1" type="button" class="success-btn" (click)="closeModal()">
                        Exit EasyCLA
                    </button>
                </div>
            </div>

        </div>
    </div>
</ng-template>