/* Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT */

.corporate-dashboard {
  padding: 45px 0;
  background-color: #f5f5f5;

  .error {
    color: red;
    font-size: 12px;
  }

  .header {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    background: #0099cc;
    padding: 10px 15px;
    text-align: center;
  }

  .body {
    background-color: #fff;
    color: #8492a6;
    padding: 25px;

    input {
      width: 100%;
      padding: 19px 32px 19px 10px;
      height: 40px;
      font-size: 14px;
      border: 1px solid #8492a6;
      border-radius: 6px;
      z-index: 100;
      color: #000000;
      position: relative;
    }

    .mt-30 {
      margin-top: 30px !important;
    }

    i {
      float: right;
      margin-top: -32px;
      font-size: 24px;
      position: relative;
      margin-right: 8px;
      color: #8492a6;
      z-index: 110;
      cursor: pointer;
    }

    .ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #424242;
    }

    .dropdown-container {
      background: #ffffff;
      border: 1px solid #8492a6;
      border-radius: 6px;
      height: 170px;
      border-top: 0;
      margin-top: -7px;
      z-index: 50;
      padding: 10px 0;
      box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);

      .companies {
        height: 120px;
        overflow-y: auto;
        .item {
          cursor: pointer;
          color: #424242;
          font-size: 14px;
          margin-bottom: 5px;
        }
      }
      .footer {
        bottom: 10px;
        position: absolute;
        color: #0099cc;
        font-size: 14px;
        font-weight: bold;

        .click-here {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    .buttons {
      margin-top: 100px;
      .btn {
        text-align: center;
        background: #ffffff;
        border: 1px solid #0099cc;
        border-radius: 20px;
        color: #0099cc;
        font-size: 12px;
        padding: 5px 20px;
        width: 100%;

        &.inactive {
          background: #9e9e9e;
          color: #fff;
          border: 1px solid #9e9e9e;
        }

        &.active {
          background: #0099cc !important;
          color: #fff;
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    /* For mobile phones: */
  }
}
