<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 message">
            Please enter the email address of the person from your company who will be the CLA Manager for this project
        </div>

        <div class="col-10 emailbox">
            <form [formGroup]="form">
                <input type="text" name="email" placeholder="Enter Email Address" formControlName="email"
                    class="form-control" />
                <div *ngIf="!form.controls.email.valid && form.controls.email.touched">
                    <span class="error">Email address is invalid.</span>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5">
            <button type="button" class="btn" [disabled]="!form.valid" (click)="onClickSubmit(successModal)">
                Submit Request
            </button>
        </div>
    </div>
</div>

<ng-template #successModal let-modal>
    <div class="model">
        <div class="modal-body">
            <div class="row justify-content-center success-dialog">
                <div class="col-auto">
                    <i *ngIf="!hasError" class="fas fa-check-circle logo green"></i>
                    <i *ngIf="hasError" class="fas fa-exclamation-circle logo red"></i>
                </div>
                <div class="col-12 title">{{title}}</div>
                <p class="col-11 success-message">{{message}}</p>
                <div class="col-4">
                    <button type="button" class="success-btn" (click)="onClickExitCLABtn()">
                        Exit EasyCLA
                    </button>
                </div>
            </div>

        </div>
    </div>
</ng-template>