<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 message">
            Please enter the email address or LFID of the person from your company who will be the CLA Manager for this
            project
        </div>

        <div class="col-10 emailbox">
            <form [formGroup]="form">
                <input type="text" name="email" placeholder="Enter Email Address" formControlName="email"
                    class="form-control" tabindex="-1" />
                <div *ngIf="!form.controls.email.valid && form.controls.email.touched">
                    <span class="error">Email address is required.</span>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <button tabindex="-1" type="button" class="btn inactive" [ngClass]="{'active':form.valid}" [disabled]="!form.valid"
                (click)="onClickSubmit(successModal)">
                Submit Request
            </button>
        </div>
    </div>

    <div *ngIf="hasShowContactAdmin">
        <div class="or-container row justify-content-center align-items-center">
            <div class="col-5">
                <div class="seperator"></div>
            </div>
            <div class="col-auto or">OR</div>
            <div class="col-5">
                <div class="seperator"></div>
            </div>
        </div>
        <div class="row justify-content-center company-admin-container">
            <div class="col-12 msg">
                Contact your organization's CommunityBridge Company Admin if you do not know who will be the CLA
                Manager. 
            </div>
            <div class="col-auto contact-admin" (click)="onClickContactAdmin(successModal)">Contact Company Admin </div>
        </div>
    </div>

</div>

<ng-template #successModal let-modal>
    <div class="model">
        <div class="modal-body">
            <div class="row justify-content-center success-dialog">
                <div class="col-auto">
                    <i *ngIf="!hasError" class="fas fa-check-circle logo green"></i>
                    <i *ngIf="hasError" class="fas fa-exclamation-circle logo red"></i>
                </div>
                <div class="col-12 title">{{title}}</div>
                <p class="col-11 success-message">{{message}}</p>
                <div class="col-4">
                    <button tabindex="-1" type="button" class="success-btn" (click)="onClickExitCLABtn()">
                        Exit EasyCLA
                    </button>
                </div>
            </div>

        </div>
    </div>
</ng-template>
