<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<div class="container">
    <form [formGroup]="form">
        <div class="row justify-content-center">
            <div class="col-12 message">
                Please enter the name and email address of the person from your organization who will be the CLA Manager
                for this project
            </div>
            <div class="col-10 element">
                <input type="text" name="name" placeholder="Enter Name" formControlName="name" class="form-control"
                    tabindex="-1" />
                <div *ngIf="form.controls.name.errors  && (form.controls.name.dirty || form.controls.name.touched)">
                    <div [hidden]="!form.controls.name.errors.required" class="error">
                        Name is required.
                    </div>
                    <div [hidden]="!form.controls.name.errors.minlength" class="error">
                        Name should be at least 2 characters.
                    </div>
                    <div [hidden]="!form.controls.name.errors.maxlength" class="error">
                        Name should not exceed 255 characters.
                    </div>
                    <div *ngIf="form.controls.name.value.length > 1" [hidden]="!form.controls.name.errors.pattern"
                        class="error">
                        Name must contain only letters, space and ',. - also only letters are allowed at the start or
                        end.
                    </div>
                </div>
            </div>

            <div class="col-10 element">
                <input type="text" name="email" placeholder="Enter Email Address" formControlName="email"
                    class="form-control" tabindex="-1" />
                <div *ngIf="form.controls.email.errors  && (form.controls.email.dirty || form.controls.email.touched)">
                    <div [hidden]="!form.controls.email.errors.required" class="error">
                        Email address is required.
                    </div>
                    <div [hidden]="!form.controls.email.errors.maxlength" class="error">
                        Email address should not exceed 255 characters.
                    </div>
                    <div *ngIf="form.controls.email.value.length > 1" [hidden]="!form.controls.email.errors.pattern"
                        class="error">
                        <span class="error"> Email provided is incorrect, please check the
                            <a href="http://docs.linuxfoundation.org/lfx/easycla/getting-started/easycla-faqs"
                                target="_blank">FAQ Section</a> to see valid email format</span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row justify-content-center buttons">
        <div *ngIf="!hasShowContactAdmin" class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <button tabindex="-1" type="button" class="btn back" (click)="onClickBackToCLANotFound()">
                Go Back
            </button>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <button tabindex="-1" type="button" class="btn inactive" [ngClass]="{'active':form.valid}"
                [disabled]="!form.valid" (click)="onClickSubmit()">
                Submit Request
            </button>
        </div>
    </div>

    <div *ngIf="hasShowContactAdmin">
        <div class="or-container row justify-content-center align-items-center">
            <div class="col-5">
                <div class="seperator"></div>
            </div>
            <div class="col-auto or">OR</div>
            <div class="col-5">
                <div class="seperator"></div>
            </div>
        </div>
        <div class="row justify-content-center company-admin-container">
            <div class="col-12 msg">
                Contact your organization's CommunityBridge Company Admin if you do not know who will be the CLA
                Manager.
            </div>
            <div class="col-auto contact-admin" (click)="onClickContactAdmin()">Contact Company Admin </div>
        </div>

        <div class="or-container row justify-content-center align-items-center">
            <div class="col-5">
                <div class="seperator"></div>
            </div>
            <div class="col-auto or">OR</div>
            <div class="col-5">
                <div class="seperator"></div>
            </div>
        </div>

        <div class="col-12 buttons">
            <div class="row justify-content-center align-items-center">
                <div class="col-6">
                    <button tabindex="-1" type="button" class="btn back" (click)="onClickBackToCLANotFound()">
                        Go Back
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>

<ng-template #successModal let-modal>
    <div class="model">
        <div class="modal-body">
            <div class="row justify-content-center success-dialog">
                <div class="col-auto">
                    <i *ngIf="!hasError" class="fas fa-check-circle logo green"></i>
                    <i *ngIf="hasError" class="fas fa-exclamation-circle logo red"></i>
                </div>
                <div class="col-12 title">{{title}}</div>
                <p class="col-11 success-message" [innerHTML]="message"></p>
                <div *ngIf="hasError" class="col-4">
                    <button tabindex="-1" type="button" class="success-btn go-back"
                        (click)="onClickGoBackToIdentifyCLAManger()">
                        Go Back
                    </button>
                </div>
                <div class="col-4">
                    <button tabindex="-1" type="button" class="success-btn" (click)="onClickExitCLABtn()">
                        Exit EasyCLA
                    </button>
                </div>
            </div>

        </div>
    </div>
</ng-template>