<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<app-project-title [projectId]="projectId" [userId]="userId" (successEmitter)="onAPILoad($event)"
    (errorEmitter)="hasErrorPresent($event)"></app-project-title>

<div class="container-fluid dashboard-container">

    <div class="contributor-type-container">
        <div class="container">
            <div class="row">
                <div class="col-12 header">
                    What type of contributor are you?
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <app-dashboard-contributor-card [type]="corporateContributor" [highlights]="corporateHightlights"
                        (btnEmitter)="onClickCorporateProceed()">
                    </app-dashboard-contributor-card>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <app-dashboard-contributor-card [type]="individualContributor" [highlights]="individualHightlights"
                        (btnEmitter)="onClickIndividualProceed()">
                    </app-dashboard-contributor-card>
                </div>
            </div>


            <div class="row justify-content-center preview-buttons">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div *ngIf="project.project_ccla_enabled && project.project_corporate_documents.length > 0"
                        class="row justify-content-center">
                        <div class="col-auto preview-btn" (click)="onClickPreviewPDF('ccla')">
                            <i class="far fa-file-pdf"></i>
                            Download PDF
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div *ngIf="project.project_icla_enabled && project.project_individual_documents.length > 0"
                        class="row justify-content-center">
                        <div class="col-auto preview-btn" (click)="onClickPreviewPDF('icla')">
                            <i class="far fa-file-pdf"></i>
                            Download PDF</div>
                    </div>
                </div>
            </div>

            <div class="deskop-view">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <ng-container>
                            <app-dashboard-contributor-buttons [type]="corporateContributor"
                                [hasEnabled]="project.project_ccla_enabled && !hasError"
                                (proceedBtnEmitter)="onClickCorporateProceed()">
                            </app-dashboard-contributor-buttons>
                        </ng-container>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <ng-container>
                            <app-dashboard-contributor-buttons [type]="individualContributor"
                                [hasEnabled]="project.project_icla_enabled && !hasError"
                                (proceedBtnEmitter)="onClickIndividualProceed()">
                            </app-dashboard-contributor-buttons>
                        </ng-container>
                    </div>

                </div>
            </div>


            <div class="row justify-content-center align-items-center exitCLA">
                <div class="col-3">
                    <app-dashboard-contributor-buttons [type]="exitEasyCLA" (proceedBtnEmitter)="onExitEasyCLA()">
                    </app-dashboard-contributor-buttons>
                </div>
            </div>

        </div>
    </div>
</div>
