/* Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT */

.dashboard-container {
  background-color: #f5f5f5;

  .project-name {
    background-color: #fff;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .contributor-type-container {
    padding: 6%;
    .header {
      font-size: 26px;
      text-align: center;
      font-weight: bolder;
      padding: 15px 0;
    }

    .deskop-view {
      display: block;
    }
  }
}

@media only screen and (max-width: 420px) {
  /* For mobile phones: */
  .contributor-type-container {
    .header {
      font-size: 20px !important;
    }

    .deskop-view {
      display: none !important;
    }
  }
}
