/* Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT */
.fix-header-margin {
  margin-top: 35px;
  padding: 25px 0 0 0;
  min-height: calc(100vh - 125px);
}