/* Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT */
.fix-header-margin {
  transition: margin 0.3s;
  margin-top: 25px;
  padding: 25px 0;
  min-height: calc(100vh - 137px);
  &.expanded {
    margin-top: 100px;
    min-height: calc(100vh - 212px);
  }
}
