/* Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT */
.fix-header-margin {
  margin-top: 35px;
  padding: 25px 0 0 0;
  min-height: calc(100vh - 125px);
}

.vcenter-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Some custom styles to beautify this example */
.wrapper{
  font-size: 16px;
  min-height: calc(100vh - 250px);
}

.button {
  width: 120px;
  padding: 5px;
  margin-top: 15px;
  border-radius: 25px;
  color: #fff;
  background-color: #0099cc;
  font-family: "SourceSansPro";
  font-weight: bold;
  border: none;

  &.gray {
    background-color: gray !important;
  }
}
