/* Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->*/
.row {
    .message {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }
}
