<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<div class="add-company-container">

    <div *ngIf="hasOrganizationExist" class="col-12 error">
        Your Organization already exists in our database.
    </div>

    <form [formGroup]="form">
        <div class="container">
            <div class="row">
                <div class="col-10 element">
                    <input #organizationWebsite type="text" name="companyWebsite" (input)="onWebsiteKeypress()"
                        placeholder="Enter Organization Website (http://www.example.com)"
                        formControlName="companyWebsite" tabindex="-1" class="form-control" />
                    <ng-container *ngIf="searchType === 'ORGANIZATION_WEBSITE'; then dropdownList;">
                    </ng-container>
                    <div
                        *ngIf="form.controls.companyWebsite.errors  && (form.controls.companyWebsite.dirty || form.controls.companyWebsite.touched)">
                        <div [hidden]="!form.controls.companyWebsite.errors.required" class="error">
                            Organization website is required.
                        </div>
                        <div [hidden]="!form.controls.companyWebsite.errors.minlength" class="error">
                            Organization website should be at least 8 characters.
                        </div>
                        <div [hidden]="!form.controls.companyWebsite.errors.maxlength" class="error">
                            Organization website should not exceed 255 characters.
                        </div>
                        <div *ngIf="form.controls.companyWebsite.value.length > 7"
                            [hidden]="!form.controls.companyWebsite.errors.pattern" class="error">
                            Organization website should be valid URL.
                        </div>
                    </div>
                </div>

                <div class="col-10 element">
                    <input #organizationName type="text" name="companyName" placeholder="Enter Organization Name"
                        (input)="onNameKeypress()" formControlName="companyName" tabindex="-1" class="form-control" />
                    <ng-container *ngIf="searchType === 'ORGANIZATION_NAME'; then dropdownList;">
                    </ng-container>
                    <div
                        *ngIf="form.controls.companyName.errors  && (form.controls.companyName.dirty || form.controls.companyName.touched)">
                        <div [hidden]="!form.controls.companyName.errors.required" class="error">
                            Organization name is required.
                        </div>
                        <div [hidden]="!form.controls.companyName.errors.minlength" class="error">
                            Organization name should be at least 2 characters.
                        </div>
                        <div [hidden]="!form.controls.companyName.errors.maxlength" class="error">
                            Organization name should not exceed 255 characters.
                        </div>
                        <div *ngIf="form.controls.companyName.value.length > 1"
                            [hidden]="!form.controls.companyName.errors.pattern" class="error">
                            Organization name may only contain alphanumeric characters or special characters -,.
                        </div>
                    </div>
                </div>

                <div class="col-11 mt-20">
                    <div class="row">
                        <div class="col-auto pr-0">
                            <i class="fas fa-info-circle"></i>
                        </div>
                        <div class="col info pad-left-5">
                            You will receive an email from the Linux Foundation with instructions on how to setup a
                            detailed profile for your Organization
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="col-12 buttons">
        <div class="row justify-content-end">
            <div class="col-4">
                <button tabindex="-1" type="button" class="btn inactive" [disabled]="!form.valid"
                    [ngClass]="{'active':(form.valid)}" (click)="onClickProceed()">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #successModal let-modal>
    <div class="model">
        <div class="modal-body">
            <div class="row justify-content-center success-dialog">
                <div class="col-auto">
                    <i *ngIf="!hasError" class="fas fa-check-circle logo green"></i>
                    <i *ngIf="hasError" class="fas fa-exclamation-circle logo red"></i>
                </div>
                <div class="col-12 title">{{title}}</div>
                <p class="col-11 success-message">{{message}}</p>
                <div class="col-4">
                    <button tabindex="-1" type="button" class="success-btn" (click)="onClickDialogBtn()">
                        {{hasError?'Go Back':'Procced'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #dropdownList>
    <div class="dropdown-container" *ngIf="hasShowDropdown">
        <div class="dropdown-content">
            <div class="item" *ngFor="let organization of organizationList.list"
                (click)="onSelectOrganization(organization)">
                <div class="row">
                    <div class="col-6 ellipsis">{{organization.organization_name}}</div>
                    <div class="col-6 ellipsis">{{organization.organization_website}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #addEmailModal let-modal>
    <div class="model">
        <div class="modal-body">
            <form class="col-12" [formGroup]="publicEmailform">
                <p class="col-11 success-message">System cannot read your email address since it is not public, please enter
                    your email address so that we can proceed to next step</p>
                <div class="row justify-content-center success-dialog">
                    <div class="col-11 element">
                        <input type="text" name="publicEmail" placeholder="Enter email address"
                            formControlName="publicEmail" tabindex="-1" />
                        <div
                            *ngIf="publicEmailform.controls.publicEmail.errors  && (publicEmailform.controls.publicEmail.dirty || publicEmailform.controls.publicEmail.touched)">
                            <div [hidden]="!publicEmailform.controls.publicEmail.errors.required" class="error">
                                Email address is required.
                            </div>
                            <div [hidden]="!publicEmailform.controls.publicEmail.errors.pattern" class="error">
                                Email address is invalid.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-center mt-15">
                            <div class="col-4">
                                <button tabindex="-1" type="button" class="success-btn go-back"
                                    (click)="backToAddOrganization()"> Go Back </button>
                            </div>
                            <div class="col-4">
                                <button tabindex="-1" type="button" class="success-btn inactive"
                                    [ngClass]="{'active':publicEmailform.valid}" [disabled]="!publicEmailform.valid"
                                    (click)="onClickProccedEmailModal()">Procced</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>
