<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<div class="add-company-container">
    <form [formGroup]="form">
        <div class="container">
            <div class="row">
                <div class="col-10 element">
                    <input type="text" name="companyName" placeholder="Enter Organization Name"
                        formControlName="companyName" tabindex="-1" class="form-control" />
                    <div
                        *ngIf="form.controls.companyName.errors  && (form.controls.companyName.dirty || form.controls.companyName.touched)">
                        <div [hidden]="!form.controls.companyName.errors.required" class="error">
                            Organization name is required
                        </div>
                        <div [hidden]="!form.controls.companyName.errors.minlength" class="error">
                            Organization name should be at least 2 characters
                        </div>
                        <div [hidden]="!form.controls.companyName.errors.maxlength" class="error">
                            Organization name should not exceed 60 characters
                        </div>
                        <div [hidden]="!form.controls.companyName.errors.pattern" class="error">
                            Organization name is invalid
                        </div>
                    </div>
                </div>
                <div class="col-10 element">
                    <input type="text" name="companyWebsite"
                        placeholder="Enter Organization Website (http://www.example.com)"
                        formControlName="companyWebsite" tabindex="-1" class="form-control" />
                    <div *ngIf="!form.controls.companyWebsite.valid && form.controls.companyWebsite.touched">
                        <span class="error">Organization website is invalid</span>
                    </div>
                </div>

                <div class="col-11 mt-20">
                    <div class="row">
                        <div class="col-auto pr-0">
                            <i class="fas fa-info-circle"></i>
                        </div>
                        <div class="col info pad-left-5">
                            You will receive an email from the Linux Foundation with instructions on how to setup a
                            detailed profile for your Organization
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="col-12 buttons">
        <div class="row justify-content-end">
            <div class="col-4">
                <button tabindex="-1" type="button" class="btn inactive" [disabled]="!form.valid"
                    [ngClass]="{'active':form.valid}" (click)="onClickProceed()">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #successModal let-modal>
    <div class="model">
        <div class="modal-body">
            <div class="row justify-content-center success-dialog">
                <div class="col-auto">
                    <i *ngIf="!hasError" class="fas fa-check-circle logo green"></i>
                    <i *ngIf="hasError" class="fas fa-exclamation-circle logo red"></i>
                </div>
                <div class="col-12 title">{{title}}</div>
                <p class="col-11 success-message">{{message}}</p>
                <div class="col-4">
                    <button tabindex="-1" type="button" class="success-btn" (click)="onClickDialogBtn()">
                        {{hasError?'Go Back':'Procced'}}
                    </button>
                </div>
            </div>

        </div>
    </div>
</ng-template>


<ng-template #WarningModal let-modal>
    <div class="model">
        <div class="modal-body">
            <div class="row justify-content-center success-dialog">
                <div class="col-auto">
                    <i class="fas fa-exclamation-triangle logo orange"></i>
                </div>
                <div class="col-12 title">LF Login Required</div>
                <p class="col-11 success-message">You are missing a LF Login to proceed to next step. We will be
                    redirecting you to LF Login screen, once you have created a LF Login you will be redirected to
                    complete CLA process</p>
                <div class="col-4">
                    <button tabindex="-1" type="button" class="success-btn" (click)="onClickProccedWithLFLogin()">
                        Procced
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>