/* Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT */

.add-company-container {
  padding: 10px 10px 0 10px;
  font-family: "SourceSansPro";

  .mt-20 {
    margin-top: 20px;
  }

  .info {
    font-family: "SourceSansPro";
    font-size: 12px;
  }

  .pr-0 {
    padding-right: 0;
  }

  .pad-left-5 {
    padding-left: 5px;
  }

  .error {
    color: red;
    font-size: 12px;
  }

  i {
    font-size: 14px;
    color: #8492a6;
  }

  .element {
    margin-top: 15px;

    input {
      border: 1px solid #8492a6;
      border-radius: 0px;
      padding: 5px;
      height: 25px;
      color: #8492a6;
      font-size: 12px;
    }

    .error {
      color: red;
      font-size: 12px;
    }
  }

  .dropdown-container {
    background: #ffffff;
    border: 1px solid #8492a6;
    border-radius: 6px;
    height: 115px;
    border-top: 0;
    z-index: 50;
    padding: 10px 0;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);

    .companies {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      .item {
        cursor: pointer;
        color: #424242;
        font-size: 14px;
        height: 25px;

        .ellipsis {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #424242;
        }
      }
    }
    .footer {
      bottom: 10px;
      position: absolute;
      color: #0099cc;
      font-size: 14px;
      font-weight: bold;

      .click-here {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .buttons {
    margin-top: 25px;
    .btn {
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      border-radius: 50px;
      width: 100%;

      &.inactive {
        background: #9e9e9e;
        color: #fff;
        border: 1px solid #9e9e9e;
      }

      &.active {
        background: #0099cc !important;
        color: #fff;
      }
    }
  }
}
