<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<div class="add-company-container">
    <form [formGroup]="form">
        <div class="container">
            <div class="row">
                <div class="col-11 element">
                    <div class="title">Your Organization Website</div>
                    <input #organizationWebsite type="text" name="companyWebsite" (input)="onWebsiteKeypress()"
                        placeholder="Your Organization Website" formControlName="companyWebsite"
                        (focusout)="onFocusOut()" tabindex="1" class="form-control" />
                    <ng-container *ngIf="searchType === 'ORGANIZATION_WEBSITE'; then dropdownList;">
                    </ng-container>
                    <div
                        *ngIf="form.controls.companyWebsite.errors  && (form.controls.companyWebsite.dirty || form.controls.companyWebsite.touched)">
                        <div [hidden]="!form.controls.companyWebsite.errors.required" class="error">
                            Organization website is required.
                        </div>
                        <div [hidden]="!form.controls.companyWebsite.errors.minlength" class="error">
                            Organization website should be at least 8 characters.
                        </div>
                        <div [hidden]="!form.controls.companyWebsite.errors.maxlength" class="error">
                            Organization website should not exceed 255 characters.
                        </div>
                        <div *ngIf="form.controls.companyWebsite.value.length > 7"
                            [hidden]="!form.controls.companyWebsite.errors.pattern" class="error">
                            Please provide a valid organization URL.
                        </div>
                    </div>
                </div>

                <div class="col-11 element">
                    <div class="title">Organization Name</div>
                    <input #organizationName type="text" name="companyName" placeholder="Organization Name"
                        (input)="onNameKeypress()" [readonly]="hasReadonly" formControlName="companyName" tabindex="2"
                        class="form-control" />
                    <ng-container *ngIf="searchType === 'ORGANIZATION_NAME'; then dropdownList;">
                    </ng-container>
                    <div
                        *ngIf="form.controls.companyName.errors  && (form.controls.companyName.dirty || form.controls.companyName.touched)">
                        <div [hidden]="!form.controls.companyName.errors.required" class="error">
                            Organization name is required.
                        </div>
                        <div [hidden]="!form.controls.companyName.errors.minlength" class="error">
                            Organization name should be at least 2 characters.
                        </div>
                        <div [hidden]="!form.controls.companyName.errors.maxlength" class="error">
                            Organization name should not exceed 255 characters.
                        </div>
                        <div *ngIf="form.controls.companyName.value.length > 1"
                            [hidden]="!form.controls.companyName.errors.pattern" class="error">
                            HTML tags are not allowed.
                        </div>
                    </div>
                </div>

                <div class="col-11 element">
                    <div class="title">Signing Entity Name</div>
                    <input #organizationName type="text" name="entityName" placeholder="Signing Entity Name"
                        formControlName="entityName" tabindex="3" class="form-control" />
                    <div
                        *ngIf="form.controls.entityName.errors  && (form.controls.entityName.dirty || form.controls.entityName.touched)">
                        <div [hidden]="!form.controls.entityName.errors.required" class="error">
                            Signing entity name is required.
                        </div>
                        <div [hidden]="!form.controls.entityName.errors.minlength" class="error">
                            Signing entity name should be at least 2 characters.
                        </div>
                        <div [hidden]="!form.controls.entityName.errors.maxlength" class="error">
                            Signing entity name should not exceed 255 characters.
                        </div>
                        <div *ngIf="form.controls.entityName.value.length > 1"
                            [hidden]="!form.controls.entityName.errors.pattern" class="error">
                            HTML tags are not allowed.
                        </div>
                    </div>
                </div>

                <div class="col-11 mt-20">
                    <div class="row">
                        <div class="col-auto pr-0">
                            <i class="fas fa-info-circle"></i>
                        </div>
                        <div class="col info pad-left-5">
                            You will receive an email from the Linux Foundation with instructions on how to setup a
                            detailed profile for your Organization
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="col-12 buttons">
        <div class="row justify-content-end">
            <div class="col-4">
                <button tabindex="3" type="button" class="btn inactive" [disabled]="!form.valid"
                    [ngClass]="{'active':(form.valid)}" (click)="onClickProceed()">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>


<ng-template #dropdownList>
    <div class="dropdown-container" *ngIf="hasShowDropdown">
        <div class="dropdown-content">
            <div class="item" *ngFor="let organization of organizationList.list">
                <div class="row" (click)="onSelectOrganization($event,organization)">
                    <div class="col-6 ellipsis">{{organization.organization_name}}</div>
                    <div class="col-6 ellipsis">{{organization.organization_website}}
                    </div>
                </div>
                <ng-container [ngTemplateOutlet]="treeView" [ngTemplateOutletContext]="{organization:organization}">
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #treeView let-organization="organization">
    <div class="col-12" *ngFor="let entity of organization.signing_entity_names">
        <div class="row" (click)="onSelectOrganization($event,organization,entity)">
            <div class="col-6 ellipsis child">
                {{entity}}
            </div>
            <div class="col-6 ellipsis">
                {{organization.organization_website}}
            </div>
        </div>
    </div>
</ng-template>

<ng-template #addEmailModal let-modal>
    <div class="model">
        <div class="modal-body">
            <form class="col-12" [formGroup]="publicEmailform">
                <p class="col-11 success-message">System cannot read your email address since it is not public, please
                    enter
                    your email address so that we can proceed to next step</p>
                <div class="row justify-content-center success-dialog">
                    <div class="col-11 element">
                        <input type="text" name="publicEmail" placeholder="Enter email address"
                            formControlName="publicEmail" tabindex="-1" />
                        <div
                            *ngIf="publicEmailform.controls.publicEmail.errors  && (publicEmailform.controls.publicEmail.dirty || publicEmailform.controls.publicEmail.touched)">
                            <div [hidden]="!publicEmailform.controls.publicEmail.errors.required" class="error">
                                Email address is required.
                            </div>
                            <div [hidden]="!publicEmailform.controls.publicEmail.errors.pattern" class="error">
                                Email address is invalid.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-center mt-15">
                            <div class="col-4">
                                <button tabindex="-1" type="button" class="success-btn go-back"
                                    (click)="backToAddOrganization()"> Go Back </button>
                            </div>
                            <div class="col-4">
                                <button tabindex="-1" type="button" class="success-btn inactive"
                                    [ngClass]="{'active':publicEmailform.valid}" [disabled]="!publicEmailform.valid"
                                    (click)="onClickProccedEmailModal()">Proceed</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>