---
# Copyright The Linux Foundation and each contributor to CommunityBridge.
# SPDX-License-Identifier: MI

name: License Header Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  license-header-check:
    name: License Header Check
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check License Headers
        run: |
          ./check-headers.sh
